.form-container {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%; /* Takes full width of their container */
    max-width: 600px; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
